.home {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__about {
  max-width: 70%;
  text-align: center;
  padding: 50px;
}

.home__about > h1 {
  color: #e42d42;
}

.home__panels {
  display: flex;
}

.panel {
  width: 350px;
  margin: 20px;
  border: 1px solid rgb(68, 68, 68);
}

.panel > h4 {
  background-color: rgb(26, 26, 26);
  padding: 15px 10px 15px 10px;
  color: #e42d42;
}

.panel > p {
  padding: 15px 10px 15px 10px;
  background-color: #464646;
}

.panel__link {
  color: #e42d42;
  text-decoration: none;
}

.homered {
  text-decoration: none;
  color: white;
  padding: 20px 30px 20px 30px;
}

@media only screen and (max-width: 600px) {
  .home__about {
    max-width: 90%;
    padding: 20px;
  }

  .home__panels {
    flex-direction: column;
  }
}
